a:hover{
	cursor:pointer;
	text-decoration:none;

}
.jumbotron{
	margin-bottom:0;
	text-align:center;
	padding-top:20%;
	background-image: url('imgs/homePage.jpg');
    background-size: cover;
    height:600px;
	
}
nav a {
	color:white;
}
nav a:hover{
	color:white;
}
